<!DOCTYPE html>
<html> 
  <head>
    <link rel="stylesheet" href="css/style.css"><link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <nav>
      <ul class="navigation">
        <li class="nav-line"><a href="">FEATURES</a></li>
        <li class="nav-line"><a href="/plan">PLANS</a></li>
        <li class="nav-line"><a href="">REVIEWS</a></li>
        <li class="nav-line"><a href="">SIGN UP</a></li>
      </ul>
    </nav>
    <h2>base page</h2>
    <footer>
      <div class="footer-parent">
        <ul class="footer-text">
          <li class="text-value"><a href="">About us</a></li>
          <li class="text-value"><a href="">Blog</a></li>
          <li class="text-value"><a href="">Press</a></li>
          <li class="text-value"><a href="">ios App</a></li>
          <li class="text-value"><a href="">Android App</a></li>
        </ul>
        <ul class="social-link">
          <li><a href="#"><i class="fab fa-facebook icon-footer"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square icon-footer"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram icon-footer"></i></a></li>
          <li><a href="#"><i class="fab fa-snapchat-square icon-footer"></i></a></li>
        </ul>
      </div>
      <p class="footer-p">Copyright &copy; 2019 Origami. All rights reserved.</p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>